ion-input{
    --background: #f4f5f8;
    border: 1px solid #4c8dff;
    border-radius: 5px;
    height: 50px;    
    min-width: 290px;       
    text-align: right;
    font-size: x-large;
    --padding-end: 10px;     
}

ion-row{
    flex-wrap: nowrap;
}

ion-button{
    min-width: 60px;
    min-height: 50px;
    width: 100%;
}

ion-content{
    padding: 5px;
}

div.ion-padding.buttons{
    padding-top: 0;
}
