<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-input disabled [(ngModel)]="resultInput"></ion-input>
  </div>

  <div class="ion-padding buttons">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="clearInput()" color="danger">CLR</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="clearLastInput()" color="danger"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('%')" color="warning">%</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('/')" color="warning">/</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="setInput('7')" color="primary">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('8')" color="primary">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('9')" color="primary">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('*')" color="warning">*</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="setInput('4')" color="primary">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('5')" color="primary">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('6')" color="primary">6</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('-')" color="warning">-</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="setInput('1')" color="primary">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('2')" color="primary">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('3')" color="primary">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('+')" color="warning">+</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="setInput('0')" color="primary">0</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="setInput('.')" color="primary">.</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="setResult()" color="tertiary">=</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>